* {
	font-family: system-ui, sans-serif;
}

h1 {
	color: #888;
}

p {
	margin-bottom: 2em;
}

.display {
	position: relative;
	width: 90vw;
	border: 1px solid #666;
	padding: 1em;
	margin-bottom: 2em;
	font-weight: bold;
}

.display::before {
	content: "ВІДПОВІДЬ НА ЗАВДАННЯ";
	position: absolute;
	top: -0.7em;
	left: 1em;
	padding: 0 0.3em;
	background-color: #fff;

	font-size: 0.8em;
	font-weight: bold;
	color: #888;
}

.d1::before {
	content: "АДМІНА ЗВАТИ:";
}

.d2::before {
	content: "КІЛЬКІСТЬ СЕКУНД:";
}

.d3::before {
	content: "КОРИСТУВАЧ ВВІВ:";
}

pre {
	width: 90vw;
}